.header {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    height: 70px;
    background-color: rgb(200, 190, 255);
    border-radius: 15px;
}