.header {
    position: relative;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    height: 70px;
    background-color: rgb(200, 190, 255);
    border-radius: 15px;
}
.header__arrow {
    position: absolute;
    top: 33%;
    right: 10px;
    width: 25px;
}
.header__arrow img {
    width: 100%;
    cursor: pointer;
    transition: all .2s linear;
}
.header__arrow img:hover {
    transform: scale(1.2);
}
.header__nav {
    display: none;
    position: absolute;
    top: 10px;
    right: -220px;
    border-right: 1px solid rgb(0, 50, 143);;
    /* border-radius: 10px; */
    width: 180px;
    height: 180px;
    padding: 10px;
    box-sizing: border-box;
    transition: all .3s linear;
}
.header__nav_link {
    font-size: 22px;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(163, 147, 252);
    display: block;
    text-align: center;
    transition: all .2s linear;
}
.header__nav_link:hover {
    transform: scale(1.2);
    color: rgb(0, 50, 143);
}
.show {
    display: block;
}